body{
    background: #fff;
}

.content-row {
    padding-top: 40vh;
  }
  
.white-bg {
    background-color: white;
    width: 100%;
    display: inline-block;
  }
  
.background-image {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    
}


.first-heading_div, .second-heading_div{
    padding: 3rem 0rem;
}


.porfolio_Div{
    padding: 3rem 0rem;
}
.porfolio_Div-card{
    min-width: 18rem;
    margin-bottom: .6rem;
}
.porfolio_H5{
    color: #3767c7;
    margin-top: 0.4rem;
}
.porfolio_bodyCard-p{
    font-size: .8rem;
} 