body{
    background: #fff;
}

.background-image {
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    
}


.first-heading_div, .second-heading_div{
    padding: 3rem 0rem;
}


.porfolio_Div{
    padding: 3rem 0rem;
}
.porfolio_Div-card{
    min-width: 18rem;
    margin-bottom: .6rem;
}
.porfolio_H5{
    color: #3767c7;
    margin-top: 0.4rem;
}
.porfolio_bodyCard-p{
    font-size: .8rem;
} 