body{
    background: #fff;
}


.tagline_bg-img {
    background-image: url("../img/bg.jpg");
    background-size: cover;
    min-height: 50vh;
    display: grid;
    align-content: center;
    padding: 0.6rem;
}
.tagline_bg-div{
    height: 100%;
    width: 100%;
    margin: 0;
}
.tagline_bg-div h1{
    font-size: 5rem;
    margin-bottom: 1rem;
    background-color: white;
}
.tagline_bg-div h2{
    font-size: 3.2rem;
    background-color: white;
}



.porfolio_Div{
    padding: 3rem 0rem;
}
.porfolio_Div-card{
    min-width: 18rem;
    margin-bottom: .6rem;
}
.porfolio_H5{
    color: #3767c7;
    margin-top: 0.4rem;
}
.porfolio_bodyCard-p{
    font-size: .8rem;
} 



.first-heading_div, .second-heading_div{
    padding: 3rem 0rem;
}
.first-heading_div img, .second-heading_div img {
    height: 100%;
    width: 100%;
}


.contact_textarea-message{
    resize: none;
    height: 6rem;
}