<!-- your html code here -->
<div class="container border-bottom porfolio_Div">
  <h2>Porfolio</h2>
  <p>
    Dusto architecto inventore voluptatum possimus consequatur beatae quas fugit, cupiditate natus quaerat impedit illum nemo eaque, placeat, blanditiis error suscipit sit iure commodo.
  </p>
  
  <div class="row d-flex justify-content-center">
    
    <div class="porfolio_Div-card col-sm-4 border-0 rounded-0">
      <img src="assets\img\big-project-image.png" class="card-img-top rounded-0" alt="...">
      <div>
        <h5 class="porfolio_H5">Proyect Name</h5>
        <p class="porfolio_bodyCard-p">
          Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet adipisicing elit.
        </p>
      </div>
    </div>

    <div class="porfolio_Div-card col-sm-4 border-0 rounded-0">
      <img src="assets\img\big-project-image.png" class="card-img-top rounded-0" alt="...">
      <div>
        <h5 class="porfolio_H5">Proyect Name</h5>
        <p class="porfolio_bodyCard-p">
          Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet adipisicing elit.
        </p>
      </div>
    </div>

    <div class="porfolio_Div-card col-sm-4 border-0 rounded-0">
      <img src="assets\img\big-project-image.png" class="card-img-top rounded-0" alt="...">
      <div>
        <h5 class="porfolio_H5">Proyect Name</h5>
        <p class="porfolio_bodyCard-p">
          Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet adipisicing elit.
        </p>
      </div>
    </div>

  </div>

</div>
