<!-- your html code here -->
<div class="container border-bottom second-heading_div">
  <div class="row d-flex">
    <div class="col-sm-4"><img src="../website/assets/img/2.jpg " class="img-fluid rounded-circle float-end"
        alt="Hands over a keyboard"></div>
    <div class="col-sm-8">
      <h2 class="d-inline-block">The Second Heading</h2>
      <h2 class="d-inline-block text-secondary">Is Pretty Cool Too</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a luctus mi. Nulla a tellus efficitur enim
        blandit euismod. Donec suscipit orci in ligula facilisis vulputate.
      </p>
    </div>
  </div>
</div>